* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

#video-bg {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

nav {
    background-color: #006666;
    color: #fff;
    padding: 10px 0;
    position: relative;
    z-index: 1;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
}

nav .logo h1 {
    margin-left: 20px;
}

nav .nav-links {
    list-style: none;
    display: flex;
    margin-right: 20px;
}

nav .nav-links li {
    margin: 0 10px;
}

nav .nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

